
#container {
    position: relative;
    width:1200px;
    height:600px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top:50px;
    margin-bottom:50px
}

#image-rarrow {
    position:absolute;
    width:100px;
    height:50px;
    top:275px;
    right:20px;
}

#image-larrow {
    position:absolute;
    width:100px;
    height:50px;
    top:275px;
    left:20px;
}

#image-bookshelf {
    position:absolute;
    width:300px;
    height:500px;
    top:50px;
    left:150px;
}

#image-bookshelf-side {
    position:absolute;
    width:50px;
    height:500px;
    top:50px;
    left:150px;
    display: none;
}

#image-safe {
    position:absolute;
    width:150px;
    height:100px;
    top:300px;
    left:225px;
    display: none;
}
#opensafe {
    position:absolute;
    width:150px;
    height:100px;
    top:300px;
    left:225px;
    display: none;
}
#pad{
    position:absolute;
    top:80px;
    height:450px;
    padding-left: 40%;

}
#padlock {
    position:absolute;
    width:70%;
}
#PI{

    font-style:oblique;
    font-size:20px;

}
#selector1{
    position:absolute;
    float:left;
    
    top:330px;
    margin-left: 60px;;
  


}
#selector2{
    position:absolute;
    float:left;
    
    top:330px;
    margin-left: 120px;;
  


}
#selector3{
    position:absolute;
    float:left;
    
    top:330px;
    margin-left: 185px;;
  


}
#selector4{
    position:absolute;
    float:left;
    
    top:330px;
    margin-left: 248px;;
  


}
#fw {
    position: absolute;
    width:1200px;
    height:600px;
    top:0;
    left:0;

    
}